.gray {
    background: lightgray;
    height: 2000px;
    margin-top: 500px;
}

.img {
    float: right;
    width: 750px;
    position:sticky;
    top: 100px;
    border: 1px solid black;
}

.text {
    float: left;
    width: 400px;
}